# Translation options
[translation]
-exclude data
-exclude test
-exclude etc

# Scan options
[scan]
-scan-policy Security
#-rules .\etc\sast-custom-rules\example-custom-rules.xml
#-filter .\etc\sast-filters\example-filter.fpr

# SSC Upload options (uncomment and configure to enable FPR upload)
# Configuration precedence: Environment Variables > Config File > Script Parameters
# Environment variables: SSC_URL, SSC_AUTH_TOKEN, SSC_APP_NAME, SSC_APP_VERSION_NAME
[ssc]
#SSCUrl=YOUR_SSC_URL_HERE
#SSCAuthToken=YOUR_SSC_TOKEN_HERE
AppName=InsecureGoMonorepo
AppVersion=main

# ScanCentral SAST Scan options (uncomment and configure to enable ScanCentral SAST upload)
# Configuration precedence: Environment Variables > Config File > Script Parameters
# Environment variables: SCANCENTRAL_SAST_CTRL_URL, SCANCENTRAL_SAST_POOL_ID, SCANCENTRAL_SAST_EMAIL_ID
[sc-sast]
ScancentralSastCtrlUrl=
ScancentralSastCtrlToken=
ScanCentralSastClientAuthToken=
ScancentralSastPoolId=00000000-0000-0000-0000-000000000002
ScancentralSastEmailId=do-not-reply@opentext.com

# ScanCentral DAST Scan options (uncomment and configure to enable ScanCentral DAST upload)
# Configuration precedence: Environment Variables > Config File > Script Parameters
# Environment variables: SCANCENTRAL_DAST_API_URL
[sc-dast]
ScancentralDastApiUrl=

# Aviator Audit options (uncomment and configure to enable Aviator audit functionality)
# Environment variables: AVIATOR_URL, AVIATOR_TOKEN, AVIATOR_APP_NAME
[aviator]
#AviatorUrl=YOUR_AVIATOR_URL_HERE
#AviatorToken=YOUR_AVIATOR_TOKEN_HERE
AviatorAppName=InsecureGoMonorepo

# Fortify on Demand options (uncomment and configure to enabled FoD scan)
# Environment variables: FOD_API_URL, FOD_USERNAME, FOD_PASSWORD, FOD_TENANT, PACKAGE_FILE, FOD_APPLICATION_NAME, FOD_RELEASE_NAME
[fod]
FodApiUrl=https://api.emea.fortify.com
#FoDClientId=YOUR_FOD_CLIENT_ID_HERE
#FodClientSecret=YOUR_FOD_CLIENT_SECRET_HERE
FodUsername=
FodPassword=
FodTenant=
PackageFile=fortifypackage.zip
FodApplicationName=InsecureGoMonorepo
FodReleaseName=main
#FodReleaseId
ApiScope=api-tenant
PollingInterval=10
WaitFor=true
