name: "Common: build and test"

on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
      command:
        required: false
        type: string
        default: 'go test ./...'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-

      - name: Download dependencies
        run: |
          go mod download

      - name: Run command
        run: ${{ inputs.command }}
        working-directory: ${{ inputs.path }}
