name: "CI - common packages"

on:
  push:
    paths:
      - 'pkg/**'
  pull_request:
    paths:
      - 'pkg/**'

jobs:
  run-common:
    uses: ./.github/workflows/build-test.yml
    with:
      path: pkg
      command: go test ./...
  run-fortify:
    needs: run-common
    uses: ./.github/workflows/fortify-ast-scan.yml
    with:
      path: pkg
      name: packages
